body {
    background-color:rgb(214, 91, 91);
  }
 
  .heading {
    background-color: rgb(8, 8, 8);
    margin-bottom: 20px;
    padding: 5px 0px 5px 15px;
  }
  
  .title {
    background-color: rgb(98, 120, 124);
    padding: 5px;
    color: rgb(31, 28, 28);
    text-align: center;
  }
  
  #runtime {
    background-color: rgb(245, 238, 238);
    color: black ;
    padding: 01px 0px 6px 6px;
  }
  
  .content {
    color: #3e8fde;
    text-align:center;
  }
  
  #subtitle {
    color: rgb(252, 252, 255);
    text-align:center ;
  }
  
  #showing {
    margin-left: 20px;
    
  }
  .description{
    padding-bottom: 20px;
  }
  
  #films li::before {
    content: "";
  }
  
  .film {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .sold-out {
    color: rgb(230, 213, 213);
  }
  
  img {
    
    height: 800px;
    width: 616px;
    margin-left: 400px;
    border: 3px solid rgb(3, 4, 94);
	border: 2px white solid;
    display:block;
  }
  
  #film-info {
    padding-bottom: 15px;
  }
  #infobox {
   
   font-size: 20px;
   background-color: azure;
   
   
   
  }
  #buy-ticket{
    font-size: 30px;
    background-color: aqua;
    cursor:cell;
  }
  li{
    font-size: 20px;
    color: blueviolet;
  }
 

.navbar-brand{
	font-size: 20px;
	font-weight: bold;
	color: white;
}